# Node
node_modules
npm-debug.log

# Next.js
.next


# Env
.env.local
.env.production
.env.*
!.env.example
public/.env
out/.env
out/.current_session

# Docker local overrides
docker-compose.local.yml

# production override files
docker-compose.prod.yml
docker-compose.prod.override.yml
production/